@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4d5d53;
    --foreground: #ededed;
    --text: #d0f0c0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--quintessential);
  cursor: url('/star-4pt-round.svg'), auto;
}

a, img, button {
  cursor: url('/arrow-cursor.svg'), pointer;
}


